.main-container {
    display: flex;
    width: 100%;
}

.main-container .edit-toggle {
    border: 1px transparent;
    height: 50px;
    width: 125px;
    border-radius: 5px;
    margin: 10px 0;
}

.left-side {
    width: 25%;
    padding: 10px 25px;
}

.right-side {
    width: 75%;
}

input {
    display: flex;
        justify-content: center;
        align-items: center;
    width: 95%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

form {
    background-color: rgba(54, 134, 165, 0.1);
    width: 35%;
    padding: 5px;
}

.edit-toggle {
    border: none;
    background-color: rgba(54, 134, 165);
    color: #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}