#experience > h2 {
    border-top: 1px solid;
    border-bottom: 3px solid;
}

.experience-container {
    display: flex;
    gap: 15px;
}

.left-column {
    width: 25%;
}

.right-column {
    width: 75%;
}

.exp-position {
    font-weight: bold;
    color: rgb(54, 134, 165);
}

.exp-company {
    font-weight: bold;
}

